.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
  border-bottom: solid 1px #00b0f1;
}

.card .card-image {
  position: relative;
  overflow: hidden;
}
.card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  z-index: -1;
}

.card-content p {
    padding: 0 14px;
    line-height: 25px;
    font-size: 1em;
    font-weight: bold;
    color: #666;
}

.card .card-profile-image {
  position: relative;
  overflow: hidden;
}

.card .center img {
  margin: 0 auto;
}

.card-list ul {
  padding: 14px;
  line-height: 3em;
}

.card-profile-image img {
  background-clip: padding-box;
  position: relative;
  z-index: -1;
}

.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}

.card h3 {
  font-weight: bolder;
}
